
  // .menu-image {
  //   width: 100px;
  //   height: 100px;
  //   object-fit: cover;
  //   border-radius: 10px;
  //   margin-right: 10px;
  //   margin-bottom: 40px;
  // }
  
  // h3 {
  //   margin: 0;
  //   font-size: 18px;
  // }

  // ion-tab-button.active {
  //   color: blue;  /* Το χρώμα για το ενεργό tab */
  // }

 

  
  .menu-image {
    width: 77px;  /* Καθορισμός πλάτους εικόνας */
    height: 100px; /* Καθορισμός ύψους εικόνας */
    object-fit: cover;  /* Προσαρμογή εικόνας στο καθορισμένο πλαίσιο χωρίς παραμόρφωση */
    border-radius: 10px;  /* Στρογγυλεμένες γωνίες */
    margin-right: 10px;
    margin-bottom: 40px;
  }
  
  h3 {
    margin: 0;
    font-size: 18px;  /* Μέγεθος κειμένου για το όνομα της πίτσας */
  }
  
  ion-tab-button.active {
    color: blue;  /* Το χρώμα για το ενεργό tab */
  }

  




  