<ion-card>
    <ion-card-content>
      <p>{{ pizza.description }}</p>
  
      <!-- Λίστα με τα υλικά της πίτσας -->
      <ion-list>
        <ion-item *ngFor="let ingredient of pizza.ingredients">
          <ion-label>{{ ingredient }}</ion-label>
          <!-- Ορίζουμε το checkbox ως checked αν το υλικό είναι επιλεγμένο -->
          <ion-checkbox slot="start" [checked]="selectedIngredients.includes(ingredient)" (ionChange)="toggleIngredient(ingredient)"></ion-checkbox>
        </ion-item>
      </ion-list>

      <div *ngIf="showSuccessMessage" style="color: green; text-align: center; margin-top: 10px;">
        Προστέθηκε επιτυχώς στο καλάθι
      </div>
  
      <!-- Κουμπί για προσθήκη στο καλάθι -->
      <ion-button expand="block" (click)="addToCart()">Προσθήκη στο Καλάθι</ion-button>
    </ion-card-content>
  </ion-card>
  