<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; color: #ff6f00;">Welcome to Pizza App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card-container">
    <!-- Κάρτα Σύνδεσης -->
    <ion-card class="small-card">
      <h1>Σύνδεση</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-label>Email</ion-label>
        <input formControlName="email" type="text">
        <div *ngIf="loginForm.get('email').invalid && submitted">
          <small style="color: red;">Παρακαλώ εισάγετε ένα έγκυρο email.</small>
        </div>
        <ion-label>Κωδικός</ion-label>
        <input formControlName="password" type="password">
        <div *ngIf="!correctPassword && submitted">
          <small style="color: red;">Λάθος κωδικός, παρακαλώ προσπαθήστε ξανά.</small>
        </div>
        <ion-button type="submit" expand="block">Εισοδος</ion-button>
      </form>
    </ion-card>

    <!-- Κάρτα Εγγραφής -->
    <ion-card class="small-card">
      <h1>Δημιουργία Λογαριασμού</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <!-- Όνομα -->
        <ion-label>Όνομα</ion-label>
        <input formControlName="name" type="text">
        <div *ngIf="registerForm.get('name')?.invalid && formInvalid" class="error-message">
          Το πεδίο είναι υποχρεωτικό
        </div>

        <!-- Επίθετο -->
        <ion-label>Επίθετο</ion-label>
        <input formControlName="surname" type="text">
        <div *ngIf="formInvalid && registerForm.get('surname')?.invalid" class="error-message">
          Το πεδίο είναι υποχρεωτικό
        </div>

        <!-- Email -->
        <ion-label>Email</ion-label>
        <input formControlName="email" type="email">
        <div *ngIf="formInvalid && registerForm.get('email')?.errors" class="error-message">
          <div *ngIf="registerForm.get('email')?.errors['required']">
            Το πεδίο είναι υποχρεωτικό.
          </div>
          <div *ngIf="registerForm.get('email')?.errors['email'] && !registerForm.get('email')?.errors['required']">
            Παρακαλώ εισάγετε έγκυρο email.
          </div>
        </div>


        <!-- Κωδικός -->
        <ion-label>Κωδικός</ion-label>
        <input formControlName="password" type="password">
        <div *ngIf="formInvalid && registerForm.get('password')?.invalid" class="error-message">
          Το πεδίο είναι υποχρεωτικό
        </div>

        <!-- Κουμπί Υποβολής -->
        <ion-button type="submit" expand="block">Εγγραφη</ion-button>
      </form>
    </ion-card>

  </div>
</ion-content>